@mixin smallNavTransition() {
	@include transition( 0.2s all $ease-in-out-sine );
}

header {
	position: fixed;
	top:0; left:0; right:0;
	z-index: 11;
}

.header-logo { 
	position: absolute;
	@include display( flex );
	@include align-items( center );
	width: 320px;
	top:70px; left:0;
	@include smallNavTransition();
	
	img.emblem { 
		@include flex( 0 1 130px );
	}
	
	img.text { 
		margin-left: 10px;
		@include flex( 0 1 180px );
	}
	
	
	.small-nav & {
		top:0;
		width: 160px;
	}
	
}

@media screen and (max-width: 1200px) and (min-width: $collapseNavAt) {
	.header-logo { 
		width: 130px;
		img.text { display: none; }
		
		.small-nav & {
			width: 60px !important;
			top: 5px !important;
		}
		
	}
}

@media screen and (max-width: 1000px) {
	.header-logo {
		width: 60px !important;
		top: 48px !important;
	}
	
	nav {
		height: 50px !important;
	}
}

@media screen and (max-width: $collapseNavAt) {

	header {
		background: rgba($blueColor,0.95);
	}

	.header-logo {
		position: static;
		width: 200px !important;
		margin: 8px auto;
		img.text { display: block; }
	}
}