$navTopHeight: 45px;
$navHeight: 145px;

.nav {
	position: fixed;
	top:0; left:0; right:0;
	background: $blueColor;
	z-index: 10;
	
	&:before {
		content:"";
		display:block;
		height: $navTopHeight;
		background: $darkBlueColor;
	}
	
}

nav {
	height: $navHeight;
	@include display( flex );
	@include align-items( center );
	
	ul {
		@include display( flex );
		float: right;
	}
	
	li { 
		@include display( flex );
		padding: 0 5px;
		text-align:center;
	}
	
	a {
		font-size: 16px;
		line-height: 1;
		padding: 10px;
		display:block;
		color: #fff;
		border: 2px solid transparent;
		text-transform: uppercase;
		border-radius: 4px;
		@include transition( 0.15s background-color $ease-in-out-sine );
		
		&:hover {
			background-color: $darkBlueColor;
		}
		
	}
	
	.button {
		font-size: 16px;
	}
	
}

.nav-top {
	position: absolute;
	top:-$navTopHeight; right:0;
	cursor: default;
	padding-right: 40px;
	
	.search-form {
		z-index: 10;
		width:40px;
		position:absolute;
		top:0; right:0;
		height: $navTopHeight;
		background: transparent;
		border: none;
		.close,
		input { display: none; }
		
		.close {
			position: absolute;
			top:0; left:0;
			width: 30px;
			height: $navTopHeight;
			color: #fff;
			&:hover { color: $lightBlueColor; }
		}
		
		input {
			padding: 0 8px;
			color: #fff;
			line-height: $navTopHeight;
		}
		
		.fa-search { 
			&:before { 
				color: #fff;  
				margin-top: -3px;
			}
			
			&:hover {
				&:before {
					color: $lightBlueColor
				}
			}
			
		}
		
		.show-search & {
			padding-left: 30px;
			background: $blueColor;
			width: 350px;
			
			&:after { display: none; }
			
			.close,
			input { display:block; }
		}
	}
	
	a,
	.social,
	.social a {
		vertical-align: middle;
		display: inline-block;
		color: #fff;
	}
	
	.social { 
		border-left: 1px solid #fff; 
		margin-left: 4px;
		padding-left: 8px;
		
		a:hover {
			&:before { color: $lightBlueColor; }
		}
	}
	
	&>a {
	
		text-transform: uppercase;
		display: inline-block;
		line-height: $navTopHeight;
		padding: 0 10px;
		font-size: 13px;
		
		&:hover {
			background: $blueColor;
		}
	}
}

/* small nav */
nav,
.nav {
	@include smallNavTransition();
}

@media screen and (min-width: $collapseNavAt) {
	.small-nav {
		.nav { @include transform( translate3d(0,-$navTopHeight,0) ); }		
		nav { height: 50px; }
	}
}

.mobile-nav-bg { 
	background: rgba(0,0,0,0.6); 
	position: fixed; 
	top:0; left:0; right:0; bottom:0; 
	z-index: -1; 
	display: none; 
	visibility: hidden; 
	opacity:0; 
	cursor: pointer;
	@include transition( all 0.4s $ease-in-out-sine );
	
	.show-nav & {
		opacity:1; 
		visibility: visible; 
		z-index: 21; 
		cursor: pointer;
		@include transform( translateZ(0) );
	}
	
}

.toggle-nav { 
	outline: none;
	color: #fff;
	display: none;
	position: fixed;
	background: transparent;
	top: 10px; left: 10px;
	z-index: 24;
	height: 42px;
	padding: 10px 10px 10px 40px;
	font-weight: 500;
	@include transition( all 0.2s $ease-in-out-sine 0s );
	text-transform: uppercase;
		
	.show-nav &,
	&:hover {
		background: $blueColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: $blueColor; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		border-top:  2px solid #fff;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: $blueColor; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid #fff;
			@include transform-origin( top left );
			.show-nav & {
				margin-left: -1px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { @include transform( rotate3d(0,0,1,-45deg) ); }
		}
		
	}
	
}

/* collapsed nav */
@media screen and (max-width: $collapseNavAt) {

	.toggle-nav { display: block; }

	.nav-top {
		position: static;
		text-align:center;
		padding:0 0 40px;
		
		.social {
			border: none;
			display: block;
		}
		
		.search-form {
			background: $blueColor;
			position: relative;
			max-width: 100%;
			width: 350px;
			margin: 20px auto;
			border: 1px solid $orangeColor;
			&:after { display: none; }
			
			input { display: block; }
			
		}
	}
	
	.nav {
		height: 100vh !important;
		position:fixed;
		top:0; left:0; right:0;
		overflow: auto;
		z-index:12;
		-webkit-overflow-scrolling: touch;
		padding-top: 20px;
		@include transform( translate3d(0,-100vh,0) );
		background: rgba($blueColor,0.9);
		&:before { display: none; }
		
		ul { 
			float: none; 
			@include flex-flow( row wrap );
			@include justify-content( center );
			
			
			li { 
				padding: 10px; 
				&:first-child {
					@include flex( 1 0 100% );
				}
				
				a { margin: auto; }
			}
			
		}
		
		.show-nav & {
			@include transform( none );
		}
		
	}
	
	nav { height: auto !important; }
	
}

@media screen and (max-width: 600px) {

	nav ul li {
		@include flex( 1 0 100% );
	}
	
	.toggle-nav { 
		font-size:0; 
		padding-left: 30px;
	}

}