/* hero */
body:not(.home) .page-wrapper {
	padding-top: $navHeight + $navTopHeight;
	
	@media screen and (max-width: 1000px) {
		padding-top: 95px;
	}
	
	@media screen and (max-width: 900px) {
		padding-top: 74px;
	}
	
}

.hero {
	overflow:hidden;
	position: relative;
	
	.big-fader { 
		z-index: 2; 
		background: #000;
	}

	
	.lazybg {
		height: 300px;
		max-height: 100vh;
		
		@media screen and (max-width: 900px) {
			& { 
				height:0;
				padding: 40% 0 0;
			}
		}
		
	}
	
}

.hero-caption {
	position: absolute;
	bottom:0; left:0; right:0;
	@include display( flex );
	z-index:9;
}

.hc-block {
	padding: 20px;
}

.hero-caption-title {
	font-size: 30px;
	@include flex( 0 0 35% );
	position: relative;
	
	&:after {
		content:"";
		position: absolute;
		right:0; top:0; bottom: -25px;
		border-right: 1px solid $darkBlueColor;
	}
}

.hero-caption-subtitle {
	@include display( flex );
	@include align-items( center );
	font-size: 26px;
}

.hero-caption-button {
	@include display( flex );
	@include align-items( center );
	min-width: 200px; 
}

@media screen and (max-width: 1000px) {
	.hc-block,
	.hero-caption {
		display: block;
	}
	
	.hc-block { padding:0; text-align:center;}
	.hero-caption { padding: 15px; }
	.hero-caption-subtitle { display: none; }
	.hero-caption-title {
		font-size: 28px;
		padding: 8px;
		&:after { display: none; }
	}
}